* {
	margin: 0;
	padding: 0;
   box-sizing: border-box;
   font-family: 'Jost', sans-serif;
}

html, body {
	height: 100%;
}

section {
	padding: 1.43rem 3rem;
	color: #f3e0e0;
}

section > p {
	margin: 3.5rem 0;
	width: 55%;
	line-height: 1.5rem;
}

form {
	padding: 1.43rem 4rem;
	width: 100%;
}

h2 {
   font-size: 3.5rem;
   margin-bottom: 1rem;
}

form > h2{
	color: #972626;
}

label {
   margin-bottom: 0.4rem;
   display: inline-block;
   font-weight: 600;
}

label[for='dewey']{
   margin-right: 1rem;
   margin-bottom: 0;
}

button {
	cursor: pointer;
   display: inline-block;
	height: 2.25rem;
	width: 100%;
   margin-top: 0.75rem;
	border: 0;
	border-radius: 0.3rem;
	background: #972626;
	color: white;
	font-size: 15px;
   text-align: center;
}

button:hover{
	background-color: #8a3030;
}

.full-width {
	width: 100%;
   height: 2rem;
	padding: 0 0.5rem;
	border: 1px solid black;
	border-radius: 0.3rem;
}

.full-width:focus {
	border: 2px solid #972626;
	outline: none;
}

.container {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	height: 100%;
}

.image {
	height: 100%;
	background: url("Imgs/image.png");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group {
	margin: 1rem 0;
}

.form-group:first-of-type {
   margin-top: 0;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

footer .social {
	padding: 0.5rem 0;
	display: flex;
	justify-content: space-between;
}

.fa-lg {
   color: #f3e0e0;
}

.fa-lg:hover {
  color: #ffffff;
}

@media(max-width: 1150px){
	form {
		padding: 1.43rem 3rem;
	} 

	section > p {
		width: 70%;
	}
}

@media(max-width: 1065px){
	.container {
		grid-template-columns: 1fr 1fr;
	}

	form {
		padding: 1.43rem 4rem;
	}

	section > p {
		width: 90%;
		margin: 3rem 0;
	}
}

@media(max-width: 925px){

	h2 {
		font-size: 3rem;
	}
	
	section > p {
		width: 100%;
		margin: 2rem 0;
	}

}

@media(max-width: 925px) {
	form, section {
		padding: 1.3rem 2rem;
	}
}

@media(max-width: 730px) {
	.container {
		grid-template-columns: 1fr;
	}

	form {
		padding: 1.43rem 5rem;
	}	

	.full-width {
		height: 2.5rem;
	}
}

@media(max-width: 450px){
	form {
		padding: 1.25rem 2rem;
	}

	h2 {
		font-size: 2.5rem;
	}
}